*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    height: 100vh;
}

header {
    padding: 1vh; /* 6px */
}

.nav-bar {
    display: flex;
    flex-direction: row-reverse;
    height: 7.2vh;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: #000000DE;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.nav-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.25rem;
    cursor: pointer;
}

.nav-bar button:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.nav-bar .imagens-link {
    margin-right: 0.93rem;
}

.nav-bar .gmail-link {
    margin: 0 0.93rem;
}

/* for both mobile and desktop menu */
.nav-bar .profile-img { 
    height: 2rem; /* 3 pix */
    border-radius: 50%;
}

/* hide mobile menu */
.mobile-menu {
    display: none;
}

/* display desktop menu */
.desktop-menu {
    display: flex;
    align-items: center;
    padding-right: 0.25rem;
    text-transform: capitalize;
}

.desktop-menu img {
    display: block;
}

/* MAIN */
/* teste: maybe remove it or not */
main {
    height: 78.6vh;
}

.google-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16.41vh;
}

.google-logo-container img {
    display: block;
    width: 40vw;
    height: auto;
    max-width: 272px;
}


/* from projec begninning */
.search-box-container {
    /* height: 24vh; */
    padding: 1.25rem;
}

.search-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 584px;
    /* height: 6.5vh; */
    margin: 0 auto;
    border: 1px solid #2021242a;
    border-radius: 1.5rem;
    padding: 0.32rem 0.5rem 0 0.875rem;
}

.search-box input {
    width: 100%;
    border: transparent;
    height: 1.75rem;
    outline: none;
    padding: 0.32rem;
}

.search-box .mic {
    height: 1.25rem;
}

.search-box .fa-microphone {
    display: none;
}

.search-box-btns-container {
    margin-top: 1.125rem;
    height: 3.625rem;
    text-align: center;
}

.search-box-btns-container button {
    margin: 0.69rem 0.25rem;
    border: 1px solid transparent;
    padding: 0 1rem;
    color: #3c4043;
    background-color: #f8f9fa;
}

.google-language-container {
    margin-top: 0.625rem;
    /* height: 40.5vh; */
}

.google-language p {
    /* height: 30vh; */
    text-align: center;
    font-size: 0.8rem;
    color: #4d5156;
}

.google-language a {
    text-decoration: none;
}

.country-bar {
    display: block;
    padding: 0.94rem 1.875rem;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    color: #70757a;;
}

/* Footer */

footer nav {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    color: #70757a;
    padding: 0 1.25rem;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

footer ul li {
    list-style: none;
    padding: 0.94rem;
}

@media (max-width: 700px) {
    /* hide desktop menu */
    .desktop-menu {
        display: none;
    }

    /* HEADER */
    .nav-bar {
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        padding-right: 0.25rem;
        text-transform: uppercase;
    }

    .mobile-menu-btn {
        margin-left: 0.93rem;
        cursor: pointer;
    }

    .mobile-menu-btn div {
        height: 0.16rem; /* 2pix */
        width: 1.5rem;
        background-color: #000000DE;
    }

    .mobile-menu .todas-link {
        display: block;
        margin: 0 0.92rem 0 1.6rem;
    }

    .mobile-menu-btn .line2 {
        margin: 0.4rem 0; /* 0.4pix */
    }

    .mobile-menu img {
        display: block;
    }

    /* MAIN */
    .search-box-btns-container {
        display: none;
    }

    .fa-keyboard {
        display: none;
    }

    .search-box .mic {
        display: none;
    }
    
    .search-box .fa-microphone {
        display: block;
        height: 1.25rem;
        color: #3c4043;
    }

}